*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family:  "Helvetica Neue";

}
a{
    text-decoration: none;
    color: rgb(176,176,176);


}
li{
    list-style:none;

}
a:hover{
    /*color: rgb(125,125,125);*/
    color: #fff;
}


.dh_left ul li{
    float: left;
    margin-right: 10px;
}

/*导航右侧文字*/
.d_a{
    float: right;
    margin-right: 10px;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.dh_left{
    background: rgb(51,51,51);
    padding: 10px;
    color: black;
}
.dh_8{
    width: 65%;
    margin: 0 auto;
    /*border: red solid 1px;*/
}